.login{
    /* 保证占据全屏 */
    min-height:100vh;
}

input:focus{
    outline: none;
}

a{
    color:#303030;
    text-decoration: none;
}

.loginHeader{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #a6a4a4;
    align-items: center;
    justify-content: space-between;
    .loginIcon{
        padding-top: 5px;
        padding-left: 40px;
        font-size: 36px;
    }
    span{
        font-size: 40px;
        font-weight: 600;
        color: white;
        padding-left: 10px;
    }
}

.colorPickerContainer {
    color:white;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.loginForm{
    width: 500px;
    height: 260px;
    margin: 120px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border: 1px solid #a8a6a6;
    border-radius: 40px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15); 
    h2{
        text-align: center;
        font-size: 34px;
        font-weight: 700;
        padding:20px 0;
        width: 100%;
        border-bottom: 1px solid #5b5a5a;
    }
    div{
        color: #303030;
        font-size: 20px;
        height: 50px;
    }
   input{
    width: 250px;
   }
}

.loginForm:hover{
    transform: translateY(-10px) scale(1.03);
}

.loginUsername{
    color:#333;
}

/* .loginRemember{
   
} */

.loginButton{
    width: 80px;
    height: 28px;
    color:#fff;
    border:none;
    background-color: #3875f0;
    border-radius: 8px;
}