.Welcome{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color:#333;
    border-bottom: 1px solid #2548a8;
    text-align: right;
    padding-right:20px;
    font-weight: 500;
    a {
        display: inline-block;
        text-decoration: none;
        color: rgb(42, 91, 176);
        font-size: 14px;
        padding-left: 8px;
    }
}

.Time{
    line-height: 40px;
    /* 左右排开 */
    display: flex;
    div{
       width: 25%;
       text-align: center;
       /*  */
       position: relative;
       font-size: 20px;
       &::after{
           content:'';
           position: absolute;
           right: 50%;
           top:100%;
           transform: translateX(50%);
           border: 20px solid transparent;
           border-top: 20px solid white;
        }
    }
    span{
        width: 75%;
        padding-right:20px;
        font-size: 16px;
        text-align: right;
    }
}